body {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50rem;
}

nav{
    text-align: center;
    display:flex;
    flex-direction: column;
}